{% extends "base.html" %}
{% block content %}


<div class="container-xl bg-dark-custom mt-4">

    <div align="center" class="jumbotron jumbotron-fluid bg-dark-custom">
        <p>Simple website to present the Coronavirus pandemic data in a clean and fast way.</p>
        <p>Created by Alejandro Campos. Contact: alexcamposw@gmail.com</p>
        <br>
        <h1>Sources</h1>
        <p>Live data: <a href="https://www.worldometers.info/coronavirus/">Worldometer</a></p>
        <p>Historical data: <a href="https://www.ecdc.europa.eu/en">European Centre for Disease Prevention and
            Control</a></p>
    </div>
</div>

{% endblock content %}